{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "extends": ["koa", "airbnb-base", "airbnb-base/legacy"],
  "plugins": ["jest", "@babel", "@typescript-eslint"],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "off"
  },
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
